.appNav {
	text-align: center;
	display: flex;
	margin: auto;
	justify-content: space-around;
}

li {
	display: flex;
	margin-bottom: 50px;
}

.app {
	text-align: left;
	display: flex;
	margin: auto;
	justify-content: space-around;
}

.container {
	width: 400px;
	border: 1px solid black;
	border-radius: 20px;
	background-color: rgb(248, 237, 206);
	padding: 20px 50px 30px 50px;
	margin: auto;
	box-shadow: -10px 15px 8px grey;
}
